Realfarm/bin
actionbar/bin
.metadata
.metadata/.plugins/org.eclipse.core.resources/.projects/RealFarm/.indexes/e4/81/1a/2c/3/history.index

.metadata/.plugins/org.eclipse.core.resources/.projects/RealFarm/.markers

.metadata/.plugins/org.eclipse.core.resources/.projects/actionbar/.markers

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.core.prefs

.metadata/.plugins/org.eclipse.jdt.core/868624625.index

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml

.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/RealFarm/2012/6/24/refactorings.history

.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/RealFarm/2012/6/24/refactorings.index

.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml

.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml
