<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.commonsensenet.realfarm"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".RealFarmApp"
        android:icon="@drawable/app_social"
        android:label="@string/app_name" >
        <activity
            android:name=".Homescreen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name="com.buzzbox.mob.android.scheduler.NotificationClickActivity" />

        <receiver android:name="com.buzzbox.mob.android.scheduler.BootReceiverSchedulerManager" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.buzzbox.mob.android.scheduler.TimeChangeReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.buzzbox.mob.android.scheduler.AlarmReceiver" />

        <service android:name="com.buzzbox.mob.android.scheduler.ScheduledService" />

        <activity
            android:name=".admin.UserListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".admin.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".admin.AddUserActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".WeatherForecastActivity"
            android:icon="@drawable/wf_unknown"
            android:label="Weather Forecast"
            android:screenOrientation="portrait" />
        <activity
            android:name="Marketprice_details"
            android:label="Market prices"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".AdviceActivity"
            android:icon="@drawable/advice"
            android:label="Advice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".YieldActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".actions.HarvestActionActivity"
            android:icon="@drawable/harvestingaction"
            android:label="Harvest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actions.FertilizeActionActivity"
            android:icon="@drawable/fertilizingaction"
            android:label="Fertilize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actions.SellActionActivity"
            android:icon="@drawable/sellingaction"
            android:label="Sell"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actions.SowActionActivity"
            android:icon="@drawable/sowingaction"
            android:label="Sow"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actions.SprayActionActivity"
            android:icon="@drawable/sprayingaction"
            android:label="Spray"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actions.IrrigateActionActivity"
            android:icon="@drawable/irrigationaction"
            android:label="Irrigate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actions.ReportActionActivity"
            android:icon="@drawable/problemreportingaction"
            android:label="Report"
            android:screenOrientation="portrait" />
        <activity
            android:name=".My_setting_plot_info"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".AddPlotActivity"
            android:icon="@drawable/ic_new_plot"
            android:label="Add new Plot"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChoosePlotActivity"
            android:label="Select a Plot"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DiaryActivity"
            android:icon="@drawable/ic_diary"
            android:label="Diary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlotListActivity"
            android:icon="@drawable/ic_plots"
            android:label="Plots"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SM_enter"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".VideoActivity"
            android:icon="@drawable/hs_video"
            android:label="Videos"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".VideoPlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ownCamera.OwnCameraActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".aggregates.fertilize_aggregate"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".aggregates.selling_aggregate"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".aggregates.problem_aggregate"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".aggregates.harvest_aggregate"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ActionAggregateActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ownCamera.ViewPictureActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <receiver
            android:name=".sync.DownstreamReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:priority="1000" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>